* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.page-wrapper {
  width: 90%;
  max-width: 1800px;
  margin: auto;
  background-color: #fff8eb;
  padding-bottom: 50px;
}

.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  font-size: 22px;
  color: #1c6e55;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #1c6e55;
  font-weight: bold;
}

.hero {
  height: 520px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 30px;
  gap: 16px;
}

.badge {
  background: #3aa176;
  padding: 7px 22px;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto 0;
}

.hero-content h1 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 6px;
}

.subtitle {
  margin-top: 0;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.4;
}

.btn-menu {
  margin-top: 10px;
  padding: 12px 34px;
  background: #075c5d;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 6px 12px rgba(7, 92, 93, 0.18);
}
.menu-highlights {
  width: 100%;
  padding: 60px;
}

.menu-title {
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 25px;
  text-align: left;
}

.cards-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  min-height: 350px;
}

.menu-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 22px;
  text-align: left;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}
.item-price {
  font-size: 17px;
  font-weight: bold;
  color: #376f50;
}

.item-desc {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
  margin-bottom: 14px;
}

.line {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
  margin-bottom: 14px;
}

.top-info {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 60px;
}

.info-card {
  width: 70%;
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.info-card h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 18px;
}

.info-main {
  font-size: 17px;
  color: #1a1a1a;
  margin-bottom: 18px;
  line-height: 1.5;
}

.info-gray {
  font-size: 14px;
  color: #666;
  margin-bottom: 22px;
}

.pills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pills span {
  background: #eeeeee;
  padding: 6px 14px;
  border-radius: 25px;
  font-size: 13px;
  color: #1f4b38;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 60px;
}

.contact-card {
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  height: 260px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-card h3 {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 22px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 12px;
}

.gray {
  color: #666;
  font-size: 14px;
  margin-top: 20px;
}

.map-box {
  height: 260px;
  width: 95%;
  margin: auto;
}

.map-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.footer {
  text-align: center;
  padding: 25px;
  font-size: 14px;
  color: #444;
}

.footer span {
  font-weight: bold;
  color: #075c5d;
}

@media (max-width: 1200px) {
  .top-info {
    flex-direction: column;
    align-items: center;
  }
  .info-card {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .hero {
    height: 640px;
  }
  .hero-content {
    padding: 20px;
    gap: 12px;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .subtitle {
    font-size: 15px;
    max-width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

.email-link {
  color: #128d60;
  font-weight: bold;
  text-decoration: none;
}
